body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.header, .firstContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    gap: 50px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header, .firstContainer {
    background-color: #1F2937;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    letter-spacing: 0;
    word-spacing: 
}

.firstContainerHeader {
    font-size: 48px;
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;
}

.firstContainerText {
    margin-bottom: 16x;
}

.firstContainerLeft {
}

.firstContainerRight {
}